GOOGLE_AI_API_KEY=<api key>
PG_HOST=<db host>
PG_PORT=<db port>
PG_DBNAME=<db name>
PG_USER=<db user>
PG_PASSWORD=<db password>
APP_DATA_STATIC_FILES_PATH=<static data path>

# Filename for the Value Measures dataset
APP_DATA_VALUE_MEASURES_FILE=<gi value dataset>